.header {
    padding: 0.625rem;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    flex-grow: 1;
    text-align: center;
}

.list__page {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.page__link {
    color: #121212;
    font-weight: 500;
    font-size: 1.125rem;
}

.page__link--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #0BAACA;
    margin-top: 5px;
}

.profile-list {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.list-icons {
    margin-left: 0.625rem;
}

.header-icons {
    width: 1.25rem;
    height: 1.25rem;
}

/* Main */
.main {
    width: 100%;
    background-color: #f3f3f3;
}

.main__home {
    display: grid;
    grid-template-columns: 65% 35%;
}

/* Post */
.posts__wrapper {
    margin-top: 3.75rem;
}

.create-post__wrapper {
    display: grid;
    gap: 1.25rem;
    margin-bottom: 5.625rem;
    width: 90%;
}

.create-post__photo {
    margin: auto;
}

.create__post {
    width: 45rem;
    height: 12rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
    line-height: normal;
    padding: 1.125rem 1.875rem 1.875rem 2.0625rem;
    resize: none;
    border-radius: 0.9375rem;
}

.create__post__btn {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 0.9375rem;
    padding: 1rem 4rem;
    width: 5rem;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 600;
}

/* Card-post */
.card-post__wrapper {
    background-color: #fff;
    width: 90%;
    height: auto;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.08);
    border-radius: 0.9375rem;
}

.card-profile__info {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
}

.card__info {
    margin-top: 0.625rem;
    margin-left: 0.3125rem;
    display: flex;
    flex-direction: column;
    gap: 0.4375rem;
}

.user__name {
    font-size: 1rem;
    font-weight: 600;
}

.user__job {
    color: #807e7e;
}

.data__card {
    color: #807e7e;
}

.card-post__text {
    color: #3E3E59;
    padding: 1.5rem 1.5rem 0 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
}

.post__img {
    max-width: 44rem;
}

.card-post__img {
    display: flex;
    padding: 1.5625rem 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
}

.post-analytics {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.post-analytics__item {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.post-analytics {
    margin-bottom: 1.5rem;
}

/* recommend */

.recommend-card {
    height: auto;
    width: 26.5rem;
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
    margin: 4.375rem auto;
    border-radius: 0.9375rem;
}

.recommend-title {
    padding-top: 0.9375rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.recommend__card {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.9375rem;
}

.recommend__card__item {
    display: grid;
    grid-template-columns: 80% 20%;
    border: 0.0625rem solid #f3f3f3;
    padding: 0.9375rem;
    border-radius: 0.9375rem;
    cursor: pointer;
    align-items: center;

}

.recommend__card__user {
    display: flex;
    align-items: center;

}

.recommend__card__info {
    margin: 0.1875rem 0.625rem 0 0.3125rem;
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.recommend__card__text {
    font-size: 0.875rem;
}

.recommend__card__btn {
    width: 4.625rem;
    height: 2rem;
    border: 0.0625rem solid #0BAACA;
    border-radius: 0.25rem;
    font-weight: 500;
    color: #0BAACA;
    float: right;
}

.recommend__card__link {
    font-weight: 500;
    color: #0BAACA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.9375rem;
}

/* Recommend events */
.recommend__events__card {
    width: 23.5rem;
    height: 4.75rem;
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3
}

.events__calendar {
    width: 3.375rem;
    height: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.events__calendar__data {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events__calendar__month {
    background-color: #D6A206;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events__info {
    display: flex;
    gap: 0.3125rem;
    flex-direction: column;
    margin-left: 0.625rem;
}

.events__info__name {
    font-size: 0.8125rem;
    font-weight: 700;
}

.events__creator__name {
    color: #807e7e;
    font-weight: 600;
    font-size: 0.8125rem;
}

.events__info__link {
    font-size: 0.8125rem;
    color: #0BAACA;
}
