.main-events {
    width: 100%;
    background-color: #f3f3f3;
}

.events__container {
    padding-top: 4.6875rem;
}

.search__events {
    display: flex;
    justify-content: end;
    margin-right: 1.25rem;
}

.search__event {
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
}

.find-events__btn {
    width: 7rem;
    background-color: #0BAACA;
    font-weight: 600;
    transition: all 1s;
}

.find-events__btn:hover {
    background-color: white;
    color: black;
}

.events {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 15px;
    padding: 2.125rem 0;
}

/*  Events general  */

.create__event {
    display: flex;
    justify-content: center;
}

.create__event__btn {
    width: 15rem;
    background-color: #0BAACA;
    height: 5rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all 1s;
}

.create__event__btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.general__events {
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
    padding: 0.9375rem;
    width: 90%;
    margin: 3rem auto;
}

.general__title {
    font-size: 1.40rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.9375rem;
}

.general__list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.925rem;
}

.general__events__list {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}

.general__events__link {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommend__events__card {
    width: 23.5rem;
    height: 4.75rem;
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3
}

.events__calendar {
    width: 3.375rem;
    height: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.events__calendar__data {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events__calendar__month {
    background-color: #D6A206;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events__info {
    display: flex;
    gap: 13px;
    flex-direction: column;
    margin-left: 0.625rem;
}

.events__info__name {
    font-size: 0.8125rem;
    font-weight: 700;
}

.events__creator__name {
    color: #807e7e;
    font-weight: 600;
    font-size: 0.8125rem;
}

.events__info__link {
    font-size: 0.8125rem;
    color: #0BAACA;
}

/*  Events Card*/
.events__card {
    /*padding: 3.125rem 0 1.25rem 1.875rem;*/
}

.events__card__list {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 3.4375rem
}

.events__card__item {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
    max-width: 300px;
}

.events__card__information {
    padding: 1.5rem 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.events__data {
    font-weight: 600;
}

.events__card__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.625rem;
}

.events__status__text {
    background-color: #1C836D;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 0.4375rem;
}

.events__info__time {
    display: flex;
}

.events__info {
    display: grid;
    grid-template-columns: 55% 1fr;

}

.events__info__item {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.events__img {
    width: 100%;
}


.events__info__text {
    color: gray;
    font-weight: 600;
}


.events__button {
    width: 16.375rem;
    height: 3.25rem;
    border: 2px solid #0BAACA;
    font-size: 1.125rem;
    font-weight: 600;
    color: #0BAACA;
    border-radius: 0.625rem;
}